@viewport {
    zoom: 1.0;
    width: device-width;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, select {
	display: inline-block;
	margin: 1rem;
	
}

.input_wrapper {
	background-color: lightgrey;
	width: auto;
}

h1 {
	display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
}

h2 {
	margin-bottom: 1rem;
}

div {
	display: inline-flex;
	border: solid;
	margin: .5rem;
	padding: .5rem;
	flex-wrap: wrap;
}

#profile, #attributes {
	width: 100%;
}

